{% extends 'base.html' %}
{% block title %}
    <title>Todo List Manager - Taskmante</title>
{% endblock title %}

{% block content %}

<br>
    <form method="POST" class="row center">
        {% csrf_token %}
            <input type="text" class="form-control col-lg-6" 
            name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}">
            <input type="hidden" name="done" value="{{ task_obj.done }}">
        
            <button type="submit" class="btn btn-primary col-lg-2">Update Task</button>
    </form>

{% endblock content %}