{% extends 'base.html' %}
{% block title %}
    <title>Todo List Manager - Taskmanager</title>
{% endblock title %}


{% block content %}
    <div class="container">
    </br>
    {% if messages %}
        {% for message in messages  %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" class="row center">
        {% csrf_token %}
            <input type="text" class="form-control col-lg-6" name="task" placeholder="New Task?">
        
            <button type="submit" class="btn btn-primary col-lg-2">Submit</button>
    </form>
</br>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Task</th>
                <th scope="col">Done</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                </tr>
            </thead>
            
            <tbody>
            {% if all_tasks  %}
                {% for obj in all_tasks %}
                    {% if obj.done %}
                        <tr class="table-success">
                            <td>{{ obj.id }} | {{ obj.task }}</td>
                            <td><a href="{% url "pending_task" obj.id %}">Pending</a></td>
                            <td><a href="{% url "edit_task" obj.id %}">Edit</a></td>
                            <td><a href="{% url "delete_task" obj.id %}">Delete</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ obj.id }} | {{ obj.task }}</td>
                            <td><a href="{% url "complete_task" obj.id %}">Completed</a></td>
                            <td><a href="{% url "edit_task" obj.id %}">Edit</a></td>
                            <td><a href="{% url "delete_task" obj.id %}">Delete</a></td>
                        </tr>

                    {% endif %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item"><a class="page-link" href="?pg=1">Previous</a></li>
                {% if all_tasks.has_previous %}
                    <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.previous_page_number }}">{{ all_tasks.previous_page_number }}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.page_number }}">{{ all_tasks.number }}</a></li>
                {% if all_tasks.has_next  %}
                    <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.next_page_number }}">{{ all_tasks.next_page_number }}</a></li>
               {% endif %}
                <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.paginator.num_pages }}">Next</a></li>
                
            </ul>
        </nav>
    </div>
{% endblock content %}